<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"></script>

</head>
<body>
   <div id="pdf-container"></div>
  <script src="static/script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"></script>
  <script> window.CHAT_ENDPOINT = "{{ chat_endpoint }}"</script>
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
  
</body>
</html>
