<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"></script>

</head>
<body> 
  <div class="app-container">
    <div class="title-div">Visualize PDF data extraction</div>
    <hr class="hr-title-underline">
    <div class="main-div">
      <div class="left-panel">
        <div class="left-panel-title">Available PDF List</div>
        <hr> 
        <div class="pdf-list-container" id = "pdf-list-container"></div>
      </div>
      <div class="center-panel">
          <div class="pdf-container" id = "pdf-container"></div>

      </div>

      <div class="right-panel">
        <div class="command-button" id="command-button">See MarkDown</div>
        <div class="command-button" id="command-button-bbox">See BBoxes</div>
        <hr> 
        <div class="block-type-list" id="block-type-list">
          <div class="block-types-to-index" id = "block-types-to-index"></div>
          <hr style="border-top: 1px dotted #000;">
          <div class="block-types-to-index" id = "block-types-to-not-index"></div>
        </div>
        <div class="command-button hidden" id="command-button-show-text">See Final Text</div>

      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script type="module"  src="static/script.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
</body>
</html>
