<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"></script>

</head>
<body> 
  <div class="app-container">
    <div class="title-div">Visualize PDF data extraction</div>
    <div class="main-div">
      <div class="left-panel">
        <div class="left-panel-title">Available PDFs</div>
        <hr> 
        <div class="pdf-list-container" id = "pdf-list-container">ABCD</div>
      </div>
      <div class="center-panel">
          <div class="pdf-container" id = "pdf-container"></div>

      </div>

      <div class="right-panel">
        <div class="command-button" id="command-button">Show MarkDown</div>
        <div class="command-button" id="command-button-bbox">Show Bounding Boxes</div>
        <hr> 
        <div class="block-type-list" id="block-type-list">
          <div class="block-types-to-index" id = "block-types-to-index"></div>
          <hr style="border-top: 1px dotted #000;">
          <div class="block-types-to-index" id = "block-types-to-not-index"></div>
        </div>

      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script src="static/script.js"></script>
</body>
</html>
